@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(130, 186, 247);
  background: linear-gradient(
    90deg,
    rgba(130, 186, 247, 1) 0%,
    rgba(155, 163, 238, 1) 45%,
    rgba(192, 131, 234, 1) 100%
  );
}

.people-list-container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.41);
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 16px;
}

.people-list {
  display: flex;
  flex-direction: column;
}

.person {
  display: flex;
  flex-direction: row;
  padding: 12px 8px;
  margin-bottom: 16px;
  box-shadow: 6px 6px 20px -16px #c0bfbf;
  width: 350px;
}

.person-image {
  margin-right: 4px;
}

.person-data,
label {
  display: flex;
  flex: 5;
  flex-direction: column;
  flex-grow: 5;
  color: black;
  font-family: Calibri, "Gill Sans", "Gill Sans MT", sans-serif;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  white-space: initial;
  justify-content: center;
  margin: 2px 0px 2px 4px;
}

i.fas {
  font-size: 24px;
  color: black;
}

i.fas.fa-user {
  font-size: 48px;
  color: black;
}

i.fas.fa-angle-double-down,
i.fas.fa-angle-double-up {
  font-size: 28px;
  color: #807c7c;
}

.person-buttons {
  display: flex;
  flex: 1;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.person-button {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border: 0px solid #000000;
  cursor: pointer;
  padding: 0px 0px 0px 8px;
}

.person-button:hover {
  background-color: transparent;
}

.person-button:active {
  position: relative;
  top: 1px;
}

.new-person-button {
  background-color: #d3d3d3;
  border: 0;
  color: #fff;
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6px;
  outline: none;
}

.new-person-button:hover {
  background-color: #e0e0e0;
}

.new-person-button:active {
  position: relative;
  top: 1px;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-grow: 1;
  margin: 16px 0px;
  align-items: flex-end;
}

.input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 40px;
  margin-bottom: 32px;
  font-size: 12px;
}

input {
  background-color: #ffffff;
  border: 1px solid #f5f5f5;
  box-shadow: 6px 6px 20px -9px #c0bfbf, -10px -10px 48px -9px #ffffff;
  color: black;
  line-height: 24px;
  border-radius: 24px;
  padding: 8px;
}

.error {
  font-size: 12px;
  color: red;
  align-self: flex-start;
  font-weight: bold;
}
