@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8d91c7;
}

.people-list-container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.41);
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.41);
  border-radius: 8px;
  border: 1px solid #6e75a8;
  padding: 16px;
}

.people-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 6px;
}

.person {
  display: flex;
  flex-direction: row;
  padding: 8px;
  margin-bottom: 8px;
  border: 1px solid #8d91c7;
  width: 300px;
}

.person-image {
  display: flex;
  flex-grow: 1;
  flex: 1;
  align-items: center;
  justify-content: center;
  margin-right: 4px;
}

.person-data,
label {
  display: flex;
  flex: 5;
  flex-direction: column;
  flex-grow: 5;
  color: #845a6d;
  font-family: Calibri, "Gill Sans", "Gill Sans MT", sans-serif;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  white-space: initial;
}

i.fas {
  font-size: 24px;
  color: #6e75a8;
}

i.fas.fa-user {
  font-size: 48px;
  color: #845a6d;
}

i.fas.fa-angle-double-down,
i.fas.fa-angle-double-up,
i.fas.fa-angle-double-right {
  font-size: 36px;
  color: #fff;
}

.person-buttons {
  display: flex;
  flex: 1;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.person-button {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border: 0px solid #000000;
  cursor: pointer;
  color: black;
  padding: 0px 0px 0px 8px;
}

.person-button:hover {
  background-color: transparent;
}

.person-button:active {
  position: relative;
  top: 1px;
}

.new-person-button {
  background-color: #6e75a8;
  border: 0px solid #6e75a8;
  color: #fff;
  cursor: pointer;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-person-button:hover {
  background-color: #8d91c7;
}

.new-person-button:active {
  position: relative;
  top: 1px;
}

.form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 16px;
  justify-content: flex-start;
  align-items: flex-end;
}

.input {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 40px;
  font-size: 14px;
  margin-bottom: 14px;
}
