.App {
  text-align: center;
}

.user-button {
  background-color: transparent;
  border: 0px solid #000000;
  cursor: pointer;
  font-size: 16px;
}
.user-button:hover {
  background-color: transparent;
}
.user-button:active {
  position: relative;
  top: 1px;
}
